.viewport {
  position: relative;
  max-width: min(1100px, 92vw);
  overflow: hidden;
  margin: 0 auto;
}

.swiper {
  width: 100%;
  padding-bottom: 28px;
  overflow: visible;
}

.slide {
  transition: transform .4s ease, opacity .4s ease, filter .4s ease, z-index .2s;
}

.card {
  border: 1px solid var(--border);
  border-radius: 20px;
  background: #fff;
  padding:  20px 60px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 4px 16px rgba(0,0,0,.06);
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  font-weight: 600;
  font-size: 16px;
  color: #333;
}

.title {
  font-size: 14px;
  font-weight: 500;
  color: var(--burgundy);
}

.description {
  font-size: 14px;
  line-height: 1.5;
  color: #555;
}

@media (min-width: 1024px) {
  .swiper :global(.swiper-slide) {
    transform: scale(.9);
    opacity: .75;
    filter: saturate(.9);
    z-index: 1;
  }
  .swiper :global(.swiper-slide-prev),
  .swiper :global(.swiper-slide-next) {
    transform: scale(.95);
    opacity: .9;
    z-index: 2;
  }
  .swiper :global(.swiper-slide-active) {
    transform: scale(1);
    opacity: 1;
    z-index: 3;
  }
  .swiper :global(.swiper-slide-active .card) {
    box-shadow: 0 12px 32px rgba(0,0,0,.12);
  }
}

.ctrl {
  position: absolute;
  top: 46%;
  transform: translateY(-50%);
  border: 1px solid var(--border);
  background: rgba(255,255,255,1);
  backdrop-filter: blur(6px);
  padding: 8px;
  border-radius: 999px;
  display: none;
  z-index: 10;
  cursor: pointer;
  transition: background .4s ease;
}

.ctrl:hover {
  background: rgba(200,200,200,.2);
}

@media (min-width: 1200px) {
  .ctrl{
    display: inline-flex;
  }
}
.left { left: 8px; }
.right { right: 8px; }